name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    uses: Ahmad-Faqehi/ci-templates/.github/workflows/docker-build.yaml@v1
    with:
      image_name: blog-api
      image_tag: ${{ github.run_number }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}

  push:
    needs: build
    uses: Ahmad-Faqehi/ci-templates/.github/workflows/docker-push.yaml@v1
    with:
      image_name: blog-api
      image_tag: ${{ github.run_number }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
